<h><b>posts</b></h>
<a href="/user_list">User List</a>
<p>

<%= current_user.email %>
<% @posts.each do |post| %>
	<p><%= post.user.email if post.user.present? %> :<%= post.text %>&nbsp;<td><%= link_to 'Edit', edit_post_path(post) %></td><td> <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></td></p>
<% end %>
</p>
<p>
<a href="/posts/new">new post</a>
</p>
<p><%= link_to "Sign out",destroy_user_session_path,method: :delete, class: "profile-dropdown" %></p>